.label {
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    min-width: 45px;
    text-align: right;
    margin: 0;
}

.timeStamp {
    font-size: 12px;
    color: #000000;
    text-align: right;
}