.chatInputBar {
  padding: 20px 0;
  .chatInputWrapper {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  
    .iconButton {
      background-color: transparent;
      border: none;
      font-size: 26px;
      margin: 3px 8px;
      cursor: pointer;
      padding: 6px;
      line-height: 1;
    }
  
    .send {
      color: white;
      background-color: #d3d3d3;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .active {
      background-color: white;
    }
  
    .stop {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .stopIcon {
        font-size: 18rem;
        width: 22px;
        height: 22px;
      }
    }
  
  
  
  
    .inputWrapper {
      flex: 1;
  
      .filePreview {
        display: flex;
        align-items: center;
        background-color: #2a2a2a;
        color: white;
        padding: 8px 12px;
        border-radius: 12px;
        margin-bottom: 8px;
        position: relative;
        max-width: max-content;
  
        .fileDetails {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
  
          .fileName {
            font-weight: bold;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
  
          .fileType {
            font-size: 12px;
            color: #ccc;
          }
        }
  
        .fileRemove {
          background: transparent;
          border: none;
          color: #aaa;
          font-size: 18px;
          cursor: pointer;
          margin-left: 8px;
        }
  
      }
    }
  
  }
}